<div class="help">
  <div class="container">
    <h2>Áfakulcsok</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let afakulcs"> {{ afakulcs.id }} </td>
      </ng-container>

      <ng-container matColumnDef="nev">
        <th mat-header-cell *matHeaderCellDef> Név </th>
        <td mat-cell *matCellDef="let afakulcs"> {{ afakulcs.nev }} </td>
      </ng-container>

      <ng-container matColumnDef="afakulcs">
        <th mat-header-cell *matHeaderCellDef> Érték </th>
        <td mat-cell *matCellDef="let afakulcs"> {{ afakulcs.afakulcs }} </td>
      </ng-container>

      <ng-container matColumnDef="statusz">
        <th mat-header-cell *matHeaderCellDef> Státusz </th>
        <td mat-cell *matCellDef="let afakulcs"> {{ afakulcs.statusz }} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Törlés </th>
        <td mat-cell *matCellDef="let afakulcs">
          <button mat-button (click)="deleteAfakulcs(afakulcs.id)">Törlés</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Frissítés </th>
        <td mat-cell *matCellDef="let afakulcs">
          <a [routerLink]="['/update', afakulcs.id]">Frissítés</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>
