
<div class="help">
  <nav>
    <div class="logo">
      <img src="https://seeklogo.com/images/L/lion-leao-logo-47267D166B-seeklogo.com.png" alt="Frederik Technologies"
      >
    </div>
    <ul>
      <li><a routerLink="/">Főoldal</a></li>
      <li><a routerLink="/read" routerLinkActive="active">Áfakulcsok</a></li>
      <li><a routerLink="/create" routerLinkActive="active">Új áfakulcs hozzáadása</a></li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
